<div class="app-container d-flex"> 
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>

  <!-- Main Content -->
  <div class="content flex-grow-2 w-100">
    <!-- Header -->
    <app-header></app-header>
    
    <!-- Main Content -->
    <div class="main-content p-4" >
      <router-outlet></router-outlet>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
 </div>
</div>
<!-- <app-header></app-header>
<app-side-bar></app-side-bar>
<app-user-profile></app-user-profile>
<app-schedule></app-schedule>
<app-assignment-tracking></app-assignment-tracking>
<app-reminders></app-reminders>
<app-timetable></app-timetable>
<app-notes></app-notes>
<app-goals></app-goals>
<app-analytics></app-analytics> -->