<div class="container mt-5">
    <h3 class="text-center mb-4">Timetable</h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Time</th>
            <th>Subject</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>{{ "slot.time" }}</td>
            <td>{{ "slot.subject" }}</td>
            <td>{{ "slot.location" }}</td>
          </tr>
        </tbody> 
      </table>
    </div>
  </div>
  