<div class="card shadow-sm">
    <div class="image d-flex justify-content-center">
        <img src="{{coursInfo.image}} " width="60%" height="180" alt="">
      </div>
    <div class="card-body">
        <p class="card-text">{{coursInfo && coursInfo.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-success btn-outline-secondary text-white">Enroll</button>
                <button type="button" class="btn btn-sm btn-primary btn-outline-secondary text-white">View</button>
            </div>
            <small class="text-body-secondary">sdsdsd</small>
        </div>
    </div>
</div>