<div class="container mt-0 p-3 shadow rounded bg-primary">
    <h3 class="text-center mb-4  bg-white p-3 rounded shadow bg-primary-subtle text-dark">Assignment Tracking</h3>
    <div class="list-group">
      <div  class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <h5 class="mb-1">{{ "assignment.title" }}</h5>
          <p class="mb-1">{{ "assignment.description" }}</p>
          <small class="text-muted">Due: {{ "assignment.dueDate | date" }}</small>
        </div>
        <div>
          <span  class="badge badge-warning badge-pill">Pending</span>
          <span  class="badge badge-success badge-pill">Completed</span>
          <button class="btn btn-outline-success btn-sm mt-2" >Mark as Completed</button>
        </div>
      </div>
    </div>
  </div>
  