<div class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar"style="height: 100vh;width: 250px;">
    <h5 class="d-flex align-items-center mb-3 px-3 text-primary justify-content-center pt-2">RD Edu.LMS</h5>
    <hr>
    <div class=" d-flex image justify-content-center ">
      <img src="https://avatars.githubusercontent.com/u/170481963?v=4" alt="" style=" width: 100px; border-radius: 60%;">
    
    </div>
    <p class="d-flex justify-content-center pt-3">Ruwan Dilhara</p>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a  routerLink="/dashboard" class="nav-link link-dark shadow-sm m-2" routerLinkActive="active">
          <i class="fas fa-user"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/courses" class="nav-link link-dark shadow-sm m-2" routerLinkActive="active">
          <i class="fas fa-user"></i> All courses
        </a>
      </li>
      <li>
        <a routerLink="/assignments" class="nav-link link-dark shadow-sm m-2" routerLinkActive="active">
          <i class="fas fa-calendar-alt"></i> Assignments
        </a>
      </li>
      <li>
        <a routerLink="/viewgrade" class="nav-link link-dark shadow-sm m-2" routerLinkActive="active">
          <i class="fas fa-tasks"></i> View grades
        </a>
      </li>
      <li>
        <a routerLink="/reminders" class="nav-link link-dark shadow-sm m-2" routerLinkActive="active">
          <i class="fas fa-bell"></i> Reminders
        </a>
      </li>
      <li>
        <a routerLink="/goals" class="nav-link link-dark shadow-sm m-2" routerLinkActive="active">
          <i class="fas fa-bullseye"></i> Goals
        </a>
      </li>
      <li>
        <a routerLink="/analytics" class="nav-link link-dark shadow-sm m-2" routerLinkActive="active">
          <i class="fas fa-chart-line"></i> Analytics
        </a>
      </li>

    </ul>
    <hr>
  </div>
  